
.venissaVerticalNav{
    border-right: 1px solid #EAEAEA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 30px 70px;
    position: fixed;
    /* background: red; */
}

.venissaVerticalNav > img{
    margin-bottom: auto;
}

.venissaVerticalNav__icons{
    display: flex;
    flex-direction: column;
    /* margin-top: auto; */
}

.venissaVerticalNav__icons > *{
    margin-top: 30px;
}

/* removing the vertical navbar */
@media screen and (max-width: 1370px) {
   .venissaVerticalNav{
       /* padding: 0px 20px 30px; */
       padding: 10px 0px 10px;
   }

}