.heroCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}

.heroCard > div:first-of-type > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0A2442;
    margin-bottom: 13px;
}

.heroCard > div:first-of-type > span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A2442;
    opacity: 0.75;
}

.heroCard > div:first-of-type > span:first-of-type{
    margin-bottom: 5px;
}