.salesHero{
    margin-top: 74px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.salesHeroLeft > p{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}

.salesHeroLeft__miniDescription{
    margin-top: 17px;
}

.salesHeroLeft__miniDescription > p{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #0F1A51;
}

.salesHeroLeft__button{
    background: #0029FF;
    border-radius: 15px;
    color: #fff;
    padding: 24.5px 42.5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-top: 25px;
}

@media screen and (max-width: 1200px) {
    .salesHero{
        flex-direction: column;
        /* align-items: center; */
    }

    .salesHeroLeft__button{
        margin-bottom: 20px;
    }
}

/* TABLETS */
@media screen and (max-width: 768px) {

    .salesHeroLeft > p{
        font-size: 3.5rem;
        line-height: 67px;
        /* color: red; */
    }

    .salesHeroLeft__miniDescription > p{
        font-size: 22px;
    }

    .salesHeroLeft__button{
        padding: 12.5px 21.5px;
        font-size: 1rem;
    }

    /* TARGETTING IMAGE */
    .salesHero > div:nth-child(2) > img{
        width: 100%;
    }
}

/* PHONES */
@media screen and (max-width: 450px) {
    .salesHeroLeft > p{
        font-size: 2.5rem;
        line-height: 50px;
    }
}