.salesNav > button{
    background: #0029FF;
    border-radius: 15px;
    color: #fff;
    padding: 24.5px 42.5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .salesNav > button{
        padding: 12.5px 21.5px;
        font-size: 1rem;
    }
}