.salesStudent{
    /* border: 1px solid red; */
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.salesStudent > h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #101A50;
    margin-bottom: 50px;
}

.salesStudent__reviews{
    margin-bottom: 167px;
    /* border: 3px solid purple; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(3, 30%); */
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}



.salesStudent__review{
    /* border: 4px solid green; */
}

.salesStudent__reviewTop{
    display: flex;
    align-items: center;
}

.salesStudent__reviewTop > img{
    width: 170px;
    height: 170px;
    margin-right: 37px;
    object-fit: contain;
    border-radius: 99%;
    /* border: 4px solid #428AF7; */
}

.salesStudent__reviewTop > div > h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.salesStudent__reviewTop > div > p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.salesStudent__reviewBottom{
    margin-top: 30px;
}

/* LAST SECTION */
.salesStudent__preOrder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.salesStudent__preOrder > div:first-of-type > p{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #101A50;
}

.salesLearnPricing{
    margin-left: 10px;
}

.salesStudent__preOrder > div:nth-child(2) > button{
    /* border: 1px solid red; */
    display: flex;
    margin-left: auto;
    background: #0029FF;
    border-radius: 15px;
    color: #fff;
    padding: 24.5px 42.5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.salesStudent__preOrder > div:nth-child(2){
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
}

/* 900PX */

@media screen and (max-width: 900px) {
    .salesStudent__reviews{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        grid-column-gap:35px ;
    }

    .salesStudent__reviewTop > img{
        margin-right: 15px;
    }

    .salesStudent__reviewTop > div > h2{
        font-size: 18px;
        line-height: 30px;
    }

    .salesStudent__reviewTop > div > p{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .salesStudent__reviews{
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .salesStudent__preOrder > div:nth-child(2) > div{
        margin-top: 25px;
    }
}


/* TABLETS */
@media screen and (max-width: 768px) {
    .salesStudent__reviews{
        margin-bottom: 75px;
    }

    .salesStudent > h3{
        font-size: 30px;
        margin-bottom: 35px;
    }

    .salesStudent__preOrder{
        flex-direction: column;
    }

    .salesStudent__preOrder > div:nth-child(2) > button{
       margin: 20px 0 0;
    }

    .salesStudent__preOrder > div:first-of-type > p{
        font-size: 24px ;
        line-height: 35px;
    }

    .salesStudent__preOrder > div:nth-child(2) > button{
        padding: 12.5px 21.5px;
        font-size: 1rem;
    }
}

/* PHONES */
