.mikeyBody{
    background-image: url('../../assets/MikeyRectangle.png');
    background-repeat: repeat-y;
    flex: 1;
    margin-left: 167px;
    /* border: 4px solid orange; */
}

@media screen and (max-width: 768px) {
   .mikeyBody{
       /* margin-left: 40px; */
        margin: 0 30px;
   }
}