.heroSectionOne{
    margin-top: 225px;
    display: flex;
    /* border: 1px solid red; */
}

.heroSectionOne__flexDirection{
    flex-direction: row-reverse;
}

.heroSectionOne__left{
    /* border: 5px solid green; */
    /* transform: translate(30px, 20px) rotate(320deg); */
    flex: 0.5;
    display: flex;
    justify-content: center;
}

.leftTranslate{
    transform: translate(30px, 20px) rotate(320deg);
}

.rightTranslate{
    transform: translate(30px, 20px) rotate(20deg);
}

.heroSectionOne__left > img{
    height: auto;
    max-width: 100%;
}

.heroSectionOne__left > img:first-of-type{
    z-index: -1;
}

.heroSectionOne__left > img:nth-child(2){
    /* z-index: -1; */
    margin-left: -330px ;
}

/* RIGHT */
.heroSectionOne__right{
    flex: 0.5;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroSectionOne__right > div:first-of-type{
   display: flex;
   align-items: center;
   padding-left: 10px;
}


.heroSectionOne__right > div:first-of-type > img:nth-child(2){
    z-index: -1;
    margin-left: -30px;
    /* margin-bottom: 15px; */
} 

.heroSectionOne__right > div:nth-child(2){
    color: red;
    padding: 8px 0;
}

.heroSectionOne__right > div:nth-child(2){
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #0A2442;
}

.heroSectionOne__right > div:nth-child(3){
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #0A2442;
}

.heroSectionOne__right > div {
    margin-left: 150px;
    /* margin-right: 0; */
}