@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.salesNav{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 75px;
    font-family: 'Poppins', sans-serif;
}

.salesNav > div:first-of-type {
    margin-right: auto;
}

.salesNav > div > p:first-of-type{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #0F1A51;
}

.salesNav > div > p:nth-child(2){
    color: #0029FF;
    font-size: 32px;
    font-weight: bold;
}

/* TABLETS */
@media screen and (max-width: 768px) {

    .salesNav > .salePricing {
        display: none;
    }

    .salesNav{
        padding-top: 40px
    }

    .salesNav > div > p:first-of-type,
    .salesNav > div > p:nth-child(2){
        font-size: 22px;
    }
}

/* PHONES */
@media screen and (max-width: 450px) {
    .salesNav{
        background: rgba(0, 0, 0, 0.7);
        /* background: black; */
        width: 100%;
        padding: 14.5px 15.35px ;
        /* position: sticky;
        top: 0;
        z-index: 1000; */
    }

    .salesNav > div > p:first-of-type,
    .salesNav > div > p:nth-child(2){
        color: white;
    }
}